
<div class="calculator">

  <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
      
              <input 
              name="input" 
              type="number" 
              ngModel
              #answer="ngModel" 
              />

              <input 
              name="input2"  
              #answer2="ngModel"
              ngModel 
              type="number"
              />
      
      

          <div>
              <button 
              (click)="btnClicked($event);"
              type="button"
              >
              &#43;
              </button>

              <button
              (click)="btnClicked($event);" 
              type="button">&#8722;</button>


              <button 
              name="submitButton " 
              type="submit">&#61;</button>
          </div>

</form>

<div  class="result">{{this.result}}</div>
</div> 